  body, html{
    width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      user-select: none;
  }

  div.general{
      height: 100vh;
      display: flex;
      flex-direction: column;
      text-align: center;
    
  }
  div.combate{
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(248, 63, 63) 100%);
  }

  div.personaje{
      width: 25vw;
      height:1;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(215, 215, 215);
      margin: 0 40px;
      border: 8px solid rgb(255, 255, 255);
      border-radius: 30px;
  }
  

  h2.nombrePersonaje{
    margin: 10px;
  }

  img.fotoPersonaje{
    width: auto;
    max-height: 40vh;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px gold);
    animation: movimiento 2s ease-in infinite;
    transform-origin: center center;
  }
  @keyframes movimiento {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(-3deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    75% {
      transform: rotateZ(3deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }



  img.fotoEnemigo{
    width: auto;
    max-height: 40vh;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgb(158, 0, 0));
    animation: movimiento 2s ease-in-out infinite;
    transform-origin: center center;
  }

  div.cabecera{
    color:white;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
  }
  div.cabecera h1{
    font-size: 60px;
    position: none;
    color: #000000;
    text-shadow: 3px 3px #ea0909;
    animation: movimiento 2s ease-in infinite;
  }
  div.cabecera button{
    display: flex;
    align-items: center;
    justify-content: center;
    all: unset;
    cursor: pointer;
    background-color: rgb(140, 234, 255);
    border-radius: 50%;
  }
  .foto_ayuda{
    max-width: 50px;
    height: auto;
    display: block;
    transition: 0.2s ease;
    border: 2px solid rgb(140, 234, 255);
    border-radius: 50%;
  }
  .foto_ayuda:hover{
    transform: scale(1.3);
    display: block;
  }
  div.cabecera a{
    all:unset;
    cursor: pointer;
    font-size: 80px;
    transition: 0.4s ease;
  }
  div.cabecera a:hover{
    transform: scale(1.2) rotateZ(5deg) translate(3px,3px);
  }

  

  .barra-vida {
      margin: 0 auto;
      margin-top: 5px;
      width: 90%; 
      height: 30px; 
      border: 3px solid #000000;  
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(249,0,0,1) 100%);
      border-radius: 10px;  
      overflow: hidden; 
    }

    
    /* Estilo del nivel de vida */
    .nivel-vida {
      height: 100%;  
      width: 100%;  
      background-color: rgb(6, 215, 6);  
      transition: width 0.3s ease;  
      display: flex;
      align-items: center;
      
    }
    div.habilidades{
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      margin-top: 10px;
    }
    img.habilidades{
      width: 100%;
      max-width: 300px;
      height: auto;
      max-height: 300px;
      margin: 0 auto; 
  }
    button.botonHabilidad{
      cursor: pointer;
      max-width: 4vw;
      max-height: 10vh;
      background-color: whitesmoke;
      border: 4px solid black;
      border-radius: 10px;
      margin: 2px;
      transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;

    }
    button.botonHabilidad:hover{
      border: 4px solid rgb(200, 187, 48);
      transform: scale(1.03);
      
    }
    button.botonHabilidad:active{
      transform: scale(0.9);
      box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    }

    /*Boton de ataque*/
    button.botonAtacar{
      margin: 10px;
      padding: 15px 30px;
      font-size: 18px;
      color: #fff;
      background-color: #ff5733;
      border: 3px solid #e03e29;
      border-radius: 10px;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.4s ease;
    }
    button.botonAtacar:hover{
      background-color: #e03e29;
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(255, 87, 51, 0.8);
      transform: scale(1.2);
    }
    button.botonAtacar:active{
      transform: scale(0.95);
      box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    }

  div.popup_titulo{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #popup {
    text-align: center;
    font-size: 20px;
    display: none;
    width: 400px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 3;
  }
  #popup ul{
    text-align: left;
    list-style-type: disc;
  }
  #popup-pantalla {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  .botonCerrar {
    font-size: 18px;
    height: 40px;
    width: auto;
    background: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  .botonCerrar:hover {
    background: #d32f2f;
  }

  div.nombres_personajes{
    background-color: gray;
  }
  span.texto{
    color: white;
    text-align: center;
    display: block;
    width: 100%; 
    margin: 0 auto;
    font-family: monospace;
    white-space: nowrap;
    font-size: 30px;
    animation: escribir 2s steps(20) 1;
    overflow: hidden;
  }
  
  @keyframes escribir {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }

textarea{
  height: 60vh;
  width: 20vw;
  resize: none;
  background-color: rgb(215, 215, 215);
  border-radius: 30px;
  user-select: none;
  padding: 15px;
  overflow: hidden;
  color: black;
  font-size: 16px;
}
#tituloLog{
  color:whitesmoke;
}

.animacion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  opacity: 0; /* Oculto inicialmente */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  
}

/* Clase que hace visible el popup */
.animacion.show {
  opacity: 1; /* Totalmente visible */
  visibility: visible;
  z-index: 1000;
}

.animacion.girar {
  animation: girar 1s ease;
}

@keyframes girar {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Clase que activa el pulso */
.animacion.pulso {
  animation: pulso 1s ease-in-out;
}
@keyframes pulso {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
  }
}

.animacion.mover {
  animation: mover 1s ease-in-out;
}
@keyframes mover {
  0% {
    transform: translate(-50%, -50%) translateX(0) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateX(100px) translateY(50px);
  }
  80% {
    transform: translate(-50%, -50%) translateX(-100px) translateY(-50px);
  }
  100% {
    transform: translate(-50%, -50%) translateX(0) translateY(0);
  }
}

.popup_cambioPartida {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Oculto inicialmente */
  visibility: hidden;
  transition: opacity 2s ease-in-out;
}

/* Clase que hace visible el popup */
.popup_cambioPartida.show {
  opacity: 1; /* Totalmente visible */
  visibility: visible;
  z-index: 1000;
}

.popup_cambioPartida.gana {
  background-color: rgb(80, 146, 190);
}
.popup_cambioPartida.pierde {
  background-color: rgb(190, 0, 0);
}
#parrafo_cambio{
  font-size: 1.7rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 30vw;
  padding: 20px;
  height: auto;
}
